#gameTable th {
	border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 4px;font-family: Gulim;  font-size: 12px; line-height:140%;
}
#gameTable td {
	background: url("../images/bg_list.gif") repeat-x 0px 0px; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); color: rgb(255, 255, 255); line-height: 24px;
}
#gameTable td.league {
	border: currentColor; color: rgb(255, 180, 0); padding-left: 10px; font-weight: bold;
}
.tdTime {
	font: 11px/normal "Verdana"; text-align: center; letter-spacing: -1px; font-size-adjust: none; font-stretch: normal;
}
.tdOption {
	text-align: center; font-size: 11px;
}
.tdLeague {
	text-align: center; font-size: 11px;
}
.trOff .tdOption {
	
}
.trOff .tdLeague {
	
}
.trOff .tdTime {
	
}
.trOn .tdOption {
	
}
.trOn .tdLeague {
	
}
.trOn .tdTime {
	
}
.tdTime {
	background-position: -4px -4px; background-repeat: no-repeat;
}
.tdCenter {
	text-align: center; font-family: tahoma;
}
.tdAway {
	padding: 0px 5px;
}
.tdHome {
	padding: 0px 5px;
}
.tdAway p {
	width: 100%; color: rgb(255, 255, 255); letter-spacing: -1px; font-weight: bold; position: relative;
}
.tdHome p {
	width: 100%; color: rgb(255, 255, 255); letter-spacing: -1px; font-weight: bold; position: relative;
}
.tdAway span {
	left: 0px; top: 0px; font-family: verdana; font-weight: normal; position: absolute;
}
.tdHome span {
	top: 0px; right: 5px; font-family: verdana; font-weight: normal; position: absolute;
}
.tdAway {
	text-align: right;
}
#gameTable td.bt_On {
	background: url("../images/bg_selected.gif") repeat-x 0px 0px; cursor: pointer;
}
#gameTable td.bt_On p {
	color: rgb(0, 0, 0);
}
#gameTable td.bt_BET p {
	color: rgb(0, 0, 0);
}
#gameTable td.bt_BET {
	background: rgb(255, 228, 0); border-width: 1px; border-style: solid; border-color: rgb(255, 210, 0) rgb(255, 168, 0) rgb(255, 168, 0) rgb(255, 210, 0); color: rgb(0, 0, 0);
}
#gameTable tr.trOff td {
	height: 24px; color: rgb(85, 85, 85);
}
#gameTable tr.trOff td.tdHome {
	color: rgb(85, 85, 85);
}
#gameTable tr.trOff td.tdAway {
	color: rgb(85, 85, 85);
}
#gameTable tr.trOff td p {
	color: rgb(85, 85, 85);
}
#gameTable tr.trOff td.tdCenter {
	color: rgb(85, 85, 85);
}
#btBox {
	padding-left: 10px;
}
#btBoxDiv {
	background: rgb(239, 239, 239); padding: 10px 6px 6px; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
#btBoxDiv fieldset {
	padding: 5px; border: 1px solid rgb(0, 0, 0);
}
#btBox #top {
	background: rgb(51, 51, 51); height: 3px; line-height: 3px; font-size: 3px;
}
#btCart {
	padding-top: 5px; font-size: 11px;
}
.nmoneyCartinput {
	background: rgb(42, 42, 42); border: currentColor; width: 80px; text-align: right; font-weight: bold; ime-mode: disabled;
}
.ctable {
	border: 1px solid rgb(0, 0, 0); width: 100%; color: rgb(0, 0, 0); margin-top: 5px; table-layout: fixed;
}
.ctable .money {
	color: red;
}
.ctable td {
	background: rgb(255, 238, 51); line-height: 14px; font-family: Dotum; font-size: 11px;
}
.ctable td.t2 {
	background: rgb(255, 228, 78); text-align: right; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
.ctable_on {
	cursor: pointer;
}
#floating {
	top: 0px; width: 100%; position: absolute;
}
.gname {
	color: rgb(201, 74, 15); letter-spacing: -1px; font-size: 12px; font-weight: bold;
}
.box {
	background: rgb(68, 68, 68); border: 1px solid rgb(0, 0, 0);
}
.counts {
	background: url("../images/bg_list.gif") repeat-x 0px 0px; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); text-align: right; color: rgb(255, 255, 255); line-height: 24px; font-weight: bold;
}
.g_title {
	color: rgb(255, 255, 255);
}
.trOff .g_title {
	color: rgb(102, 102, 102);
}
.on .g_title {
	color: rgb(163, 24, 24);
}
.bt_BET .g_title {
	color: rgb(163, 24, 24);
}
.bt_On .g_title {
	color: rgb(163, 24, 24);
}
td.bgOfff p {
	color: rgb(85, 85, 85);
}
