body {
	margin: 0px; font-family: "??";
}
img {
	border: 0px; vertical-align: -2px;
}
html {
	overflow-y: scroll;
}
.hand {
	cursor: pointer;
}
label {
	cursor: pointer;
}
.b {
	font-weight: bold;
}
.clear {
	clear: both;
}
.hide {
	display: none;
}
.tpl {
	color: rgb(51, 102, 153);
}
.hand {
	cursor: pointer;
}
p {
	margin: 0px;
}
h1 {
	margin: 0px;
}
h2 {
	margin: 0px;
}
h3 {
	margin: 0px;
}
h4 {
	margin: 0px;
}
pre {
	margin: 0px;
}
.a_r {
	text-align: right;
}
.a_l {
	text-align: left;
}
.a_c {
	text-align: center;
}
.money {
	color:#ffec16; font-family: verdana; font-size: 11px;
}
.ratio {
	margin: 0px;
}
.ratio dt {
	margin: 0px;
}
dd {
	margin: 0px;
}
.ratio p {
	height: 9px; font-size: 0px;
}
.ratio p.bar1 {
	background: url("../images/bg_gage.gif") no-repeat 0px 0px; width: 260px;
}
.ratio p.bar2 {
	background: url("../images/bg_gage1.gif") no-repeat 0px 0px; width: 218px;
}
.ratio span {
	background: url("../images/bg_gage_on2.gif") repeat-x 0px 0px; border: 1px solid rgb(95, 171, 0); height: 7px; font-size: 0px; display: block;
}
