body {
	background: rgb(29, 29, 29); margin: 0px; color: rgb(255, 255, 255);
}
td {
	line-height: 140%; letter-spacing: 0px; font-size: 12px;
}
input {
	line-height: 140%; letter-spacing: 0px; font-size: 12px;
}
textarea {
	line-height: 140%; letter-spacing: 0px; font-size: 12px;
}
select {
	line-height: 140%; letter-spacing: 0px; font-size: 12px;
}
a:link {
	color:#ffec16; text-decoration: none;
}
a:visited {
	color:#fde718; text-decoration: none;
}
a:hover {
	color: rgb(255, 204, 0); text-decoration: none;
}
a.pazing:link {
	color: rgb(255, 255, 255); font-weight: bold; text-decoration: none;
}
a.pazing:visited {
	color: rgb(255, 255, 255); font-weight: bold; text-decoration: none;
}
a.pazing:hover {
	color: rgb(255, 255, 0); font-weight: bold; text-decoration: none;
}
#scroll {
	list-style: none; margin: 0px; padding: 0px; width: 620px; height: 15px; overflow: hidden; position: relative;
}
#scroll li {
	width: 620px;
}
#scroll li a {
	display: block;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.top {
	vertical-align: top;
}
.bottom {
	vertical-align: bottom;
}
.middle {
	vertical-align: middle;
}
.str {
	font-weight: bold;
}
.font_lightgray {
	color: rgb(172, 172, 172);
}
.font_darkgray {
	color: rgb(102, 102, 102);
}
.font_yellow {
	color: rgb(255, 180, 0);
}
.font_orange {
	color: rgb(255, 153, 0);
}
.font_white {
	color: rgb(255, 255, 255);
}
.font_green {
	color: rgb(153, 204, 0);
}
.font_red {
	color: rgb(255, 51, 51);
}
.pb_03 {
	padding-bottom: 3px;
}
.pb_05 {
	padding-bottom: 5px;
}
.pb_08 {
	padding-bottom: 8px;
}
.pb_10 {
	padding-bottom: 10px;
}
.pb_15 {
	padding-bottom: 15px;
}
.pb_20 {
	padding-bottom: 20px;
}
.pb_25 {
	padding-bottom: 25px;
}
.pb_30 {
	padding-bottom: 30px;
}
.pb_40 {
	padding-bottom: 40px;
}
.pb_50 {
	padding-bottom: 50px;
}
.pb_60 {
	padding-bottom: 60px;
}
.pb_100 {
	padding-bottom: 100px;
}
.pb_200 {
	padding-bottom: 200px;
}
.pt_02 {
	padding-top: 2px;
}
.pt_03 {
	padding-top: 3px;
}
.pt_05 {
	padding-top: 5px;
}
.pt_08 {
	padding-top: 8px;
}
.pt_10 {
	padding-top: 10px;
}
.pt_15 {
	padding-top: 15px;
}
.pt_20 {
	padding-top: 20px;
}
.pt_25 {
	padding-top: 25px;
}
.pt_30 {
	padding-top: 30px;
}
.pt_40 {
	padding-top: 40px;
}
.pt_50 {
	padding-top: 50px;
}
.pt_80 {
	padding-top: 80px;
}
.pl_05 {
	padding-left: 5px;
}
.pl_10 {
	padding-left: 10px;
}
.pl_15 {
	padding-left: 15px;
}
.pl_20 {
	padding-left: 20px;
}
.pl_25 {
	padding-left: 25px;
}
.pl_30 {
	padding-left: 30px;
}
.pl_40 {
	padding-left: 40px;
}
.pl_50 {
	padding-left: 50px;
}
.pl_60 {
	padding-left: 60px;
}
.pl_90 {
	padding-left: 90px;
}
.pr_05 {
	padding-right: 5px;
}
.pr_10 {
	padding-right: 10px;
}
.pr_20 {
	padding-right: 20px;
}
.pr_30 {
	padding-right: 30px;
}
.pr_40 {
	padding-right: 40px;
}
.pall_05 {
	padding: 5px;
}
.pall_15 {
	padding: 15px;
}
.pall_20 {
	padding: 20px;
}
.spacing {
	letter-spacing: -1px;
}
.spacing200 {
	letter-spacing: 2px;
}
.t_box120 {
	border: 1px solid rgb(255, 255, 255); width: 116px; height: 16px; color: rgb(51, 51, 51);
}
.t_box150 {
	border: 1px solid rgb(255, 255, 255); width: 146px; height: 16px; color: rgb(51, 51, 51);
}
.t_box200 {
	border: 1px solid rgb(255, 255, 255); width: 196px; height: 16px; color: rgb(51, 51, 51);
}
.t_box300 {
	border: 1px solid rgb(255, 255, 255); width: 296px; height: 16px; color: rgb(51, 51, 51);
}
.a_box665_35 {
	border: 1px solid rgb(255, 255, 255); width: 661px; height: 30px; color: rgb(51, 51, 51);
}
.s_box60 {
	border: 1px solid rgb(230, 232, 237); width: 60px; height: 20px; color: rgb(51, 51, 51);
}
.s_box110 {
	border: 1px solid rgb(230, 232, 237); width: 110px; height: 20px; color: rgb(51, 51, 51);
}
.f_box300 {
	border: 1px solid rgb(230, 232, 237); width: 300px; height: 22px; color: rgb(51, 51, 51);
}
.top_bg {
	background: url("/cube/images/bg_top.gif") repeat-x; height: 35px;
}
.logobar_bg {
	background: url("/cube/images/bg_logobar.gif") repeat-x; height: 95px;
}
.menu_bg {
	background: url("/cube/images/bg_menubar.gif") repeat-x; height: 50px;
}
.title_notice {
	background: url("/cube/images/bg_top_notice.gif") no-repeat; height: 50px;
}
.copyright_bg {
	background: url("/cube/images/bg_copyright.gif") repeat-x; height: 50px; text-align: center;
}
.main_title {
	background: url("/cube/images/bg_bbs_title.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 38px; padding-left: 15px;
}
.main_notice_list {
	height: 30px; padding-left: 10px;
}
.game_total {
	background: url("/cube/images/bg_bbs_bottom.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 43px; padding-left: 10px;
}
.game_bottom {
	background: url("/cube/images/bg_bbs_bottom.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 43px;
}
.betting-list {
	font-family: "dotum";
}
.betting-list .title {
	background: url("/cube/images/bg_bbs_title.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 38px; text-align: center; color: rgb(172, 172, 172); font-weight: bold;
}
.betting-list .league {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(255, 180, 0); padding-left: 10px; font-weight: bold;
}
.betting-list .date {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(172, 172, 172);
}
.betting-list .homeT {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(0, 0, 0); padding-left: 10px; font-weight: bold;
}
.betting-list .homeB {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: right; color: rgb(0, 0, 0); padding-right: 10px;
}
.betting-list .tie {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(0, 0, 0);
}
.betting-list .awayB {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(0, 0, 0); padding-left: 10px;
}
.betting-list .awayT {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: right; color: rgb(0, 0, 0); padding-right: 10px; font-weight: bold;
}
.betting-list .info {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center;
}
.betting-list {
	font-family: "dotum";
}
.betting-list .normal .league {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(255, 180, 0); padding-left: 10px; font-weight: bold;
}
.betting-list .normal .date {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(172, 172, 172);
}
.betting-list .normal .homeT {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(255, 255, 255); padding-left: 10px; font-weight: bold;
}
.betting-list .normal .homeB {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: right; color: rgb(172, 172, 172); padding-right: 10px;
}
.betting-list .normal .tie {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(172, 172, 172);
}
.betting-list .normal .awayB {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(172, 172, 172); padding-left: 10px;
}
.betting-list .normal .awayT {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: right; color: rgb(255, 255, 255); padding-right: 10px; font-weight: bold;
}
.betting-list .normal .info {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center;
}
.betting-list {
	font-family: "dotum";
}
.betting-list .disable .league {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(255, 180, 0); padding-left: 10px; font-weight: bold;
}
.betting-list .disable .date {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(172, 172, 172);
}
.betting-list .disable .homeT {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(193, 193, 193); padding-left: 10px; font-weight: bold;
}
.betting-list .disable .homeB {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: right; color: rgb(193, 193, 193); padding-right: 10px;
}
.betting-list .disable .tie {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(193, 193, 193);
}
.betting-list .disable .awayB {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(193, 193, 193); padding-left: 10px;
}
.betting-list .disable .awayT {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: right; color: rgb(193, 193, 193); padding-right: 10px; font-weight: bold;
}
.betting-list .disable .info {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center;
}
.betting-list {
	font-family: "dotum";
}
.betting-list .select .league {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(255, 180, 0); padding-left: 10px; font-weight: bold;
}
.betting-list .select .date {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(172, 172, 172);
}
.betting-list .select .homeT {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(0, 0, 0); padding-left: 10px; font-weight: bold;
}
.betting-list .select .homeB {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: right; color: rgb(0, 0, 0); padding-right: 10px;
}
.betting-list .select .tie {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(0, 0, 0);
}
.betting-list .select .awayB {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(0, 0, 0); padding-left: 10px;
}
.betting-list .select .awayT {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: right; color: rgb(0, 0, 0); padding-right: 10px; font-weight: bold;
}
.betting-list .select .info {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center;
}
.betting-list {
	font-family: "dotum";
}
.betting-list .selected .league {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(255, 180, 0); padding-left: 10px; font-weight: bold;
}
.betting-list .selected .date {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(172, 172, 172);
}
.betting-list .selected .homeT {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 29px; color: rgb(0, 0, 0); padding-left: 10px; font-weight: bold;
}
.betting-list .selected .homeB {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 29px; text-align: right; color: rgb(0, 0, 0); padding-right: 10px;
}
.betting-list .selected .tie {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 29px; text-align: center; color: rgb(0, 0, 0);
}
.betting-list .selected .awayB {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 29px; color: rgb(0, 0, 0); padding-left: 10px;
}
.betting-list .selected .awayT {
	background: url("/cube/images/bg_selected.gif") repeat-x; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 29px; text-align: right; color: rgb(0, 0, 0); padding-right: 10px; font-weight: bold;
}
.betting-list .selected .info {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center;
}
.slip_title {
	background: url("/cube/images/bg_bbs_title.gif") repeat-x; border-width: 1px; border-style: solid; border-left:rgb(83, 83, 83); border-right:rgb(83, 83, 83); border-top:3px solid #057257; height: 38px;
}
.slip_list {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px;
}
.slip_list_bg {
	border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 5px; background-color: rgb(40, 40, 40);
}
.slip_item {
	width: 50px; color: rgb(172, 172, 172);
}
.slip_data {
	text-align: right; color: rgb(172, 172, 172);
}
.slip_btn {
	background: url("/cube/images/bg_betslip_bottom.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 48px;
}
.livescore_title {
	background: url("/cube/images/bg_bbs_title.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 0px 0px 0px 15px; height: 38px;
}
.livescore_btn {
	background: url("/cube/images/bg_betslip_bottom.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 48px;
}
.board_title {
	background: url("/cube/images/bg_bbs_title.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 38px; padding-left: 10px; font-weight: bold;
}
.bbs_list_title {
	background: url("/cube/images/bg_bbs_list_title.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; font-weight: bold;
}
.bbs_bottom {
	background: url("/cube/images/bg_bbs_bottom.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 43px;
}
#bbsTable tr.bbs02 td {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 0px 8px; height: 28px;
}
#bbsTable tr.bbs01 td {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 0px 8px; height: 28px;
}
.bbs01 {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 0px 8px; height: 28px;
}
.comment2 {
	color: rgb(153, 204, 0); font-family: tahoma; font-size: 11px; font-weight: bold;
}
#bbsTable tr td a.blinnk {
	color: rgb(255, 255, 255);
}
#bbsTable tr td a.blinnk:hover {
	color: rgb(255, 204, 0);
}
.pagination a {
	color: rgb(204, 204, 204); font-weight: bold;
}
.pagination a:hover {
	color: rgb(255, 210, 0);
}
.pagination a.on {
	color: rgb(255, 210, 0);
}
.notice {
	color: rgb(165, 208, 24); font-weight: bold;
}
#bbsTable tr.notice td a.blinnk {
	color: rgb(165, 208, 24);
}
#bbsTable tr.notice td a.blinnk:hover {
	color: rgb(255, 204, 0);
}
.bbs_view {
	border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 30px 20px; background-color: rgb(39, 39, 39);
}
.bbs_view_title {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(255, 153, 0); font-weight: bold;
}
.comment_area {
	margin: 30px auto 0px; padding: 5px; width: 700px; color: rgb(0, 0, 0); font-family: gulim;
}
.livescor_title_normal {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center;
}
.livescor_title_select {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; text-align: center; color: rgb(255, 153, 0); font-weight: bold;
}
.rule_subtitle {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(255, 153, 0); padding-left: 15px; font-weight: bold;
}
.rule_content_view {
	border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 15px 10px 15px 25px; background-color: rgb(39, 39, 39);
}
.rule_content_txt {
	line-height: 200%;
}
.account_number {
	border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 52px; background-color: rgb(39, 39, 39);
}
.account_number_txt {
	border: 1px solid rgb(255, 255, 255); width: 196px; height: 20px; color: rgb(51, 51, 51);
}
.member_subtitle {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 0px 0px 0px 10px; height: 28px; color: rgb(255, 153, 0); font-weight: bold;
}
.member_content {
	background: url("/cube/images/bg_list.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 0px 0px 0px 10px; height: 28px;
}
.manual_content {
	border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 10px; background-color: rgb(39, 39, 39);
}
.manual_subtitle {
	padding: 5px; color: rgb(255, 153, 0); font-weight: bold;
}
.manual_content_txt {
	line-height: 180%;
}
.manual_table_title {
	border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); color: rgb(255, 153, 0); padding-left: 10px; font-weight: bold; background-color: rgb(32, 32, 32);
}
.manual_table_subtitle {
	background: url("/cube/images/bg_subtitle.gif") repeat-x; border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 28px; color: rgb(255, 153, 0); padding-left: 10px; font-weight: bold;
}
.manual_table_content {
	border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); padding: 15px; line-height: 160%; background-color: rgb(39, 39, 39);
}
.manual_table_content_title {
	border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 29px; text-align: center; background-color: rgb(32, 32, 32);
}
.manual_table_content_item {
	border-width: 1px; border-style: solid; border-color: rgb(83, 83, 83) rgb(0, 0, 0) rgb(0, 0, 0) rgb(83, 83, 83); height: 29px; text-align: center; background-color: rgb(49, 49, 49);
}
