<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="/auth/login" method="POST" name="login">
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">아이디</span>
                    <input class="input100" type="text" name="username" placeholder="아이디">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-18">
                    <span class="label-input100">비밀번호</span>
                    <input class="input100" type="password" name="password" placeholder="비밀번호">
                    <span class="focus-input100"></span>
                </div>
                <div class="flex-sb-m w-full p-b-30">
                    <div>
                        <a href="#" class="txt1">
                            처음 방문하시는 경우, 회원가입을 먼저 진행해주세요.
                        </a>
                    </div>
                </div>
                <input type="hidden" name="action" value="1">
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        로그인
                    </button>
                    &nbsp;&nbsp;
                    <button class="login100-form-btn" type="button" onclick="document.location.href='/auth/register';"
                            style="background-color: #f45942;">
                        회원가입
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>