<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="/auth/register" method="POST" name="register">
                <div class="wrap-input100" style="color: #ff0004">여기서 아이디 생성은 한번만 가능합니다!</div>
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">아이디</span>
                    <input class="input100" type="text" name="username" placeholder="아이디">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-18">
                    <span class="label-input100">비밀번호</span>
                    <input class="input100" type="password" name="password" placeholder="비밀번호">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-18">
                    <span class="label-input100">비밀번호 재입력</span>
                    <input class="input100" type="password" name="repassword" placeholder="비밀번호 재입력">
                    <span class="focus-input100"></span>
                </div>
                <input type="hidden" name="action" value="1">
                <button class="login100-form-btn" type="submit">
                    회원가입
                </button>
            </form>
        </div>
    </div>
</div>